* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: IranSans
}

@font-face {
	font-family: IranSans;
	src: url(../fonts/IRANSansWeb.ttf);
}

body {
	background: #d1d0d0;
	display: flex;
	justify-content: center;
	align-items: space-between;
	flex-direction: column;
}

.ascii {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	color: rgb(100, 98, 98);
}

.infos {
	display: flex;
	justify-content: space-evenly;
}

.info-box {
	text-align: center;
	width: 20%;
	border: 1px solid #ccc;
}

.info-box:hover{
	margin-top: 5px;
	box-shadow: 1px 1px 20px #777;
}

.info-box h3 {
	background: #b9e9ff;
	border-bottom: 2px solid #b9e9ff;
	padding: 5px;
	font-weight: bold;
}

.info-box h2 {
	background: #fff;
	padding: 5px;
}

.heading, .ascii, .infos {
	display: none;
}

.starter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bolder;
	height: 100vh;
}

.starter .starter-text {
	padding: 10px;
}